body,html {
    height: 100%;
    background-color: #cf8a4a;
}

.modal-content {
    background-color: #fcd288;
}

.btn-primary {
    color: #212529;
    background-color: #db6e00;
    border-color: #d67d22;
}
