body,html {
    height: 100%;
    background-color: #cf8a4a;
}

.modal-content {
    background-color: #fcd288;
}

.btn-primary {
    color: #212529;
    background-color: #db6e00;
    border-color: #d67d22;
}

.text-muted {
    color: black !important;
}

.nav-link {
    color: black !important;
    display: inline-block !important;
}

.border-top {
    border-top-color: black !important;
}

label#outputLabel::before {
    content: "Output";
}

label#outputLabel:lang(de)::before {
    content: "Ausgabeformat";
}

label#sizeLabel::before {
    content: "Size";
}

label#sizeLabel:lang(de)::before {
    content: "Ausgabeformat";
}

label#fileLabel::before {
    content: "Photo/Screenshot of corona certificate QR-code"
}

label#fileLabel:lang(de)::before {
    content: "Foto/Screenshot des QR-Codes vom Corona-Zertifikat";
}

img#logo {
    margin:20px 0px;
    width: 50%;
    max-width: 300px;
    min-width: 200px;
}
